*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  @media screen and (max-width:576px){
    .Influencer-nav , .nav-items{
    flex-direction: column; 
    }
  }

     /* nave-bar-section */

.nav-titel{
    font-weight:700;
    font-size:1.4rempx;
}
.nav-items{
    display: flex;
    font-weight:600;
    font-size:1rem;
}
.Influencer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 86px;
}
.nav-items{
    margin-right: 34px;
}
